// import google font
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset styles */
* {
    color: inherit;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: "Press Start 2P",  sans-serif;
    // font-family: "Pres";
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px dotted #efefef;
}

img {
    max-width: 100%;
}

.test {
    color: $primary;
}
[class^="cursor"] {
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    border-radius: 50% ;
    z-index: 9999;
    pointer-events: none;
}

.cursor1 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    transition: all .08s ease-out;
}

.cursor2 {
    width: 7px;
    height: 7px;
    background: black;
}