// for math aspects
@use 'sass:math';
$glowing-color:#0A00FB;

.card{
    display: flex;
    padding: $base-padding;
    border: $base-border-thickness*3 double #3f51b5 ;
    box-shadow: $base-box-shadow;
    border-radius: math.div($base-border-radius, 4);
    min-height: 100%;
    flex-direction: column;
    animation: glow 1.5s ease-in-out infinite alternate;
    .card-title{
        font-size: $font-size-xl;
        padding-bottom: $base-padding;
        font-weight: bold;
        line-height: 5.2vh;
    }

    .card-body{
        font-size:$base-font-size;
        display: flex;
        align-items: center;
        justify-content: center;

        .left-side{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-top: 1rem;
            margin-left: 3rem;
            
        }

        .right-side{
            margin-left: 3rem;

            .input-box{
                height: 50px;
                width: 100%;
                margin: 12px 0;

                input, textarea{
                    height: 92%;
                    width: 70%;
                    border: none;
                    outline: none;
                    font-size: 16px;
                    background: #fff;
                    border-radius: 6px;
                    padding: 0 15px;
                    resize: none;
                }
                textarea{
                    padding-top: 10px;
                    height: 92%;
                    min-height: 90px;
                    
                }
            }
        }


        // a{
        //     text-decoration: underline;
        // }
    }

    .card-footer{
        border-bottom-right-radius: math.div($base-border-radius, 4);
        border-bottom-right-radius: 0;
        border-top: 3px solid white;
        padding: $base-padding;
        margin-top:auto;
        // align-self: end;
        // align-self: flex-end;
        // align-self: end;
    }

    .badge1{
        max-inline-size: min-content;
        align-self: center;
        margin-top: 0.5rem;
    }

    hr.border{
        // height: 0.4rem;
        border-top:3px solid white;
    }

    .symbol{
        display: flex;
        flex-direction: column;

    }

    

    .h-100{
        height: 100% !important;
    }

    .seemore{
        align-items: center;
    }

    &:hover {
        box-shadow: 0.4rem 0.4rem 0 black;
        transform: translate(-0.4rem, -0.4rem);
    }
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $glowing-color,
            0 0 35px $glowing-color, 0 0 40px $glowing-color, 0 0 50px $glowing-color, 0 0 75px $glowing-color;
    }

    to {
        box-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 10px $glowing-color,
            0 0 17.5px $glowing-color, 0 0 20px $glowing-color, 0 0 25px $glowing-color, 0 0 37.5px $glowing-color;
    }
}

@debug math.div(10,3);
@debug "happy";
@debug math.max(1px,20px,15px,12px);