.Sidebar {
    height: 100vh;
    transition: all 0.5s;
    background-color: #0D4677;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 21rem;

    .nav_close{
        background-color: inherit;
                        width: 100%;
                            height: 100%;
    }
    
    .row {
        width: 100%;
        height: 4vh;
        // background-color: slategrey;
        /* border: 1px solid black; */
        list-style-type: none;
        margin: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // font-family: "Questrial", sans-serif;
        #icon {
                flex: 30%;
                display: grid;
                place-items: center;
            }
        #title {
            flex: 70;
        }
    }

    .topSection {
        display: flex;
        align-items: center;
        padding: 20px 15px;
    }

    .logo {
        font-size: 30px;
    }

    .bars {
        display: flex;
        font-size: 25px;
        margin-left: 50px;
        transition: all .75s;
        ;
    }

    // .name {
    //     text-decoration: underline;
    // }

    h2.name::after {
        content: '';
        display: block;
        border-bottom: 2px solid;
        margin: 0 auto 0.5rem;
        width: 4rem;
        border-color: rgba(255, 255, 255, 0.2);
        transition: border-color 250ms;
    }

    .myLogo {
        display: flex;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        bottom: 4vh;
                
        li {
                // background-color: slategrey;
                text-decoration: line-through;
                padding-top: 1rem;
        
        
        a {
                background-color: white;
                text-decoration: underline;

            &:hover{
                box-shadow: 0.4rem 0.4rem 0 #5384a5;
                transform: translate(-0.4rem, -0.4rem);
            }
        
            }
        
        }
        li::after {
            content: '';
            display: block;
            border-bottom: 3px solid;
            margin: 0 auto 0.1rem;
            width: 2rem;
            border-color: rgba(255, 255, 255, 0.2);
            transition: border-color 250ms;
        }
    
    }
}

.SidebarList .row:hover {
    cursor: pointer;
    background-color: #7ac8d4;
}

.SidebarList #active {
    background-color: #041E42;
}

@media screen and (max-width: 780px) {
    .Sidebar {
        display: none;
    }
}

